CREATE DATABASE [Control]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Control', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Control.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Control_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Control_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [Control]
GO
USE [Control]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Control] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
